.feauteru{
    width: 100%;
    height: 850px;
    background-image: url(../images/Backgrounds/2-layers.png)
}
.feaucontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.other-device{
    max-width: 640px;
    width: 100%;
    height: 584px;
}
#otd{
    width: 100%;
    height: 583px;
}