@font-face{
	font-family: Kauscriptshan;
	src: url(../fonts/KaushanScript-Regular.ttf);
}
@font-face{
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Roboto-light;
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: Roboto-regular;
	src: url(../fonts/Roboto-Regular.ttf);
}